Numpy1.18 # Swaijit
pandas2.6 #it is changed by Swaijit
scikit_learn
joblib
sqlalchemy
mysql-connector-python
jupyter
Scpy=1.5.0 ##added in Feature1
#https://github.com/Swaijit-Singh/MLApp #gitrepo1
https://github.com/Swaijit-Singh/MLApp2023_VBU #gitrepo2